:root {
	--bg-color: #141414;
	--main-bg-color: #202020;
	--main-light-color: #191919;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	text-decoration: none;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

html {
	color: white;
	font-family: 'JetBrains Mono', monospace;
}

h1, h2, h3, h4, h5, h6 {
	color: goldenrod;
	font-weight: 800;
}

h1, h2 {
	margin-bottom: 1rem;
}

body {
	background-color: var(--bg-color);
}

main {
	margin: 2.5rem auto;
	max-width: 60rem;
	min-width: 10rem;
	width: 90%;
	background-color: var(--main-bg-color);
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 5px;
	box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.20);
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-areas:
    "avatar name"
    "contacts about"
	"education projects"
	"skills projects";
}

.wrapper {
	padding: 2rem;
}

.light {
	background-color: var(--main-light-color);
	color: white;
}

.light h1,
.light h2,
.light h3,
.light h4,
.light h5,
.light h6 {
	color: white;
}

h2 {
	text-shadow: 1px 1px black;
}

.light h2 {
	text-shadow: 1px 1px goldenrod;
}

.avatar-wrapper {
	grid-area: avatar;
	min-height: 10rem;
	min-width: 10rem;
	background-color: var(--main-light-color);
}

.avatar {
	height: 100%;
	width: 100%;
	border-radius: 5px 0 0 0;
}

.name-wrapper {
	grid-area: name;
	background-color: var(--main-light-color);
	font-size: 1.5rem;
}

.name {
	letter-spacing: 1px;
}

.additional {
	color: white;
	font-weight: 200;
}

.contacts-wrapper {
	grid-area: contacts;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	list-style: none;
}

.contact {
	color: goldenrod;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.about-wrapper {
	grid-area: about;
}

.education-wrapper {
	grid-area: education;
}

.education h4 {
	margin: 0;
}

.year {
	color: goldenrod;
}

.projects-wrapper {
	grid-area: projects;
}

.skills-wrapper {
	grid-area: skills;
}

.small {
	font-size: small;
	opacity: 0.9;
	margin-bottom: 0.5rem;
}

a.small {
	text-decoration: underline;
}

@media screen and (max-width: 900px) {
	main {
		grid-template-columns: 1fr;
		grid-template-areas:
			"avatar"
			"name"
			"contacts"
			"about"
			"education"
			"projects"
			"skills";
	}

	.avatar {
		border-radius: 5px 5px 0 0;
	}
}
